body {
  display: block;
  margin: 8px;
}

div {
  display: block;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a:hover {
  cursor: pointer;
}

.link {
  background-color: #55ACEE;
}

.link:hover {
  background-color: #55ACEE;
}
