body {
  font-family: "Montserrat";
  text-align: center;
}

.center-text {
  font-weight: 700;
  justify-content: center;
  padding: 200px 0;
  position: relative;
  text-align: center;
}

#spinner {
  animation-name: spinnerRotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #000;
  height: 200px;
  left: 50%;
  -webkit-mask-image: url(images/spinner.png);
  mask-image: url(images/spinner.png);
  margin: -100px 0 0 -100px;
  position: absolute;
  width: 200px;
}

#footer {
  background-color: #EF8172;
  bottom: 0;
  height: 15rem;
  padding-top: 6rem;
  position: absolute;
  width: 100%;
}

.footer-links {
  color: #FFFFFF;
  height: 25px;
  margin: 5px;
  width: 30px;
}

.footer-copyright {
  padding-top: 7px;
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
